    body {
        text-align: center;
    }

    .heading-section {
        text-align: center;
        width: 100%;
    }

    #search-results ul {
        overflow: hidden;
        margin-top: 1em;
        text-align: center;
    }

    #search-results li {
        float: left;
        width: 30%;
        margin-bottom: 2em;
        padding: 1%;
        border: 1px solid #434343;
        border-bottom-width: 3px;
    }

    #search-results li img {
        display: block;
        max-width: 100%;
    }

    #search-results li p {
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 1px solid #434343;
    }

    ol,
    ul {
        list-style: none;
    }
