    body {
        text-align: center;
        font-family: 'Didact Gothic', sans-serif;
    }

    .heading-section {
        text-align: center;
        width: 100%;
        margin-top: 3px;
    }

    .container {
        margin-top: 60px;
    }

    #query {
        position: relative;
        width: 250px;
    }

    .myButton {
        background-color: black;
        color: aliceblue;
        border: 1px solid black
    }

    #search-results ul {
        overflow: hidden;
        text-align: right;
        font-size: 11px;
    }

    #search-results li {
        float: left;
        width: 30%;
        margin-bottom: 2em;
        margin-left: 2px;
        margin-right: 3px;
        padding: 1%;
        border: 1px solid #434343;
    }

    #search-results li img {
        display: block;
        max-width: 40%;
        float: left;
    }

    #search-results li p {
        padding-bottom: 1em;
    }

    ol,
    ul {
        list-style: none;
    }
